body {
    background: #013A20;
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
   color: #478C5C;
   font-weight: 300;
   font-size: 2.5rem;
}

.blurb p {
    
    color: #BACC81;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
    text-align: justify;
  text-justify: inter-word;
}

.content {
    
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}
.heading{
    margin-left:26%;
}

.heading h2{
    color:#CDD193;
    font-weight: 600;
   font-size: 3.5rem;
}
#headingGroup span {
    color: #EA1C2C;
}

#headingGroup h1 {
    color: #189AB4;
    font-weight: 300;
   font-size: 2.0rem;
}

.navbar.scrolled {
    background:#013A20;
    transition: background 500ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}



