*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.container{
    background-color: rgb(86, 168, 168);
}
.container .heading{
    font-size: 3rem;
    padding: 2rem 0;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold ;
    color: rgb(6, 64, 75);
    letter-spacing: 3px;
}
.container .music-container{
    display: flex;
    align-items: center;
    flex-flow: column;
}
.container .music-container .box{
    height: 16rem;
    width: 80%;
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgb(246, 243, 247), rgb(179, 243, 243));
    border-radius: 1rem;
    
    overflow: hidden;
}
.container .music-container .box .image{
    height:100%;
    width:25%;

}
.container .music-container .box .image img{
    height:100%;
    width:100%;
    
}
.container .music-container .box .music{
    width:75%;
}
.container .music-container .box .music audio{
    width:100%;
    outline: none;
}
.container .music-container .box .music audio::-webkit-media-controls-enclosure{
   background: none;
}
@media(max-width:600px){
    .container .music-container .box  {
        height: 27rem;
        width: 90%;
        flex-flow: column;
    }
    .container .music-container .box .image{
        height:80%;
        width: 100%;
    }
    .container .music-container .box .music{
        height:20%;
        width: 100%;
    }
} 