body{
    height: 500px;
    width: 300px;
}

#jokesBtn {
    height: 30px;
    width: 100px;
}

.jokeText {
    font-size: large;
}

.container {
    margin-left: 130px;
}

.heading-name {
    margin-left: 110px;
}