body {
    width: 300px;
    height: 350px;
    background-color: white;
  }
  .logo{
    padding:5px 125px;
  }
  image{
    margin-top: 10px;
    margin-left: auto;
  }
  .name{
    width:145px;
    height :38px;
    margin-left:88px;
    font-weight:700;
    font-size: 24px;
  }
  .main{
    display:block;
    margin:2px 2px 5px auto;
    height:330px;
    width:300px;
    background-color:#BDC3CB;
    border-radius: 8px;
  }
  .buttons{
    margin:10px;
    padding:5px;
  }
  .buttons button{
    display: inline-block;
    width:122px;
    height:38px;
    background-color: #CCAFA5;
    border-color: #CCAFA5;
    border-radius: 20px;
    padding:10px;
    color:#050A30;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:20px 5px;
    box-shadow: 2px 2px 8px #888888;
  }
  .card{
    width : 264px;
    height : 172px;
    margin-top:15px;
    margin-left:10px;
    border-radius:20px;
  }
  .card-name{
    color:#050A30;
    font-weight:bold;
    font-size:80px;
  }
  #text{
    font-size:x-large;
    font-weight: bolder;
    font-style: italic;
    color:#050A30;
  }
  .flip-front p{
    margin:10px;
    padding:5px;
  }
  #res{
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    color:#050A30;
  }
.footer{
  width:300px;
  height:4px;
  background-color: white;
}