body {
    background: #adddd1;
    font-family: "Nunito", sans-serif;
}

.blurb a {
   color: #189AB4;
   font-weight: 300;
   font-size: 2.5rem;
}
.blurb h2 {
    color: #189AB4;
    font-weight: 300;
    font-size: 2.5rem;
 }
 
.blurb p {
    
    color: #05445E;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
    text-align: justify;
  text-justify: inter-word;
}

.content {
    
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;  
    background-color: #05445E;  
}

#mainNavbar .nav-link {
    color: white;
    font-weight: bold;
}

#mainNavbar .nav-link:hover {
    color:#90ADC6 ;
    
}

#mainNavbar .navbar-brand {
    color: white;
    font-size: 1.5rem;
}

#headingGroup span {
    color: white;
}

#headingGroup h1 {
    color: #189AB4;
    font-weight: 300;
   font-size: 2.5rem;
}

.navbar.scrolled {
    background:#05445E;
    transition: background 500ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}



